# editors
.idea/
.vscode/

# python
*.egg-info/
*.py[cod]
.venv/
.venvs/
/build/
/dist/

# tools
.coverage*
/.pdm-build/
/htmlcov/
/site/
uv.lock

# cache
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/


*.gz
*.zip
*.pyc
*.user
*.suo
*.db
*.opendb

*.tlog
*.idb
*.exp
*csproj.FileListAbsolute.txt
[Dd]ebug/
[Rr]elease/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

*.opendb
*.db
src/obj/
*.metaproj
*.tmp
*/.vs/*
*.cache
*.user
*.code-workspace
.vscode/



# python packages
*.so
MANIFEST
*.py[cod]
*.egg-info
.DS_Store
_generate
build
_build/
out/
dist/
refcount.egg-info/
.pytest_cache/

.ipynb_checkpoints/
.coverage
